INSTANCE="PKY Production"
EMAIL_TO=email1@ufl.edu
EMAIL_CC=email2@ufl.edu email3@ufl.edu
EMAIL_FROM=please-do-not-reply@ufl.edu
EMAIL_SUBJECT=Test Tube Labels
SMTP_SERVER=smtp.ufl.edu
API_TOKEN=put your token here
TIME_ZONE='America/New_York'
